.cache
.project
.settings
*.suo
*.ncb
*.user
*.kdevelop.pcs
*.kdevses
configure
Makefile.in
config.guess
config.sub
ltmain.sh
stamp-h.in
mkinstalldirs
config.h.in
autom4te.cache
missing
aclocal.m4
install-sh
debug/
Debug/
release/
Release/
dist/
Bin/
bin/
obj/
bin-debug/
bin-release/
MSSCCPRJ.SCC
files/